@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

        body {
            text-align: center;
            background: linear-gradient(90deg,#402309, #733702, #BF8641 )
        }
        h1 {
            font-family:DynaPuff;
            font-size: 4em;
            color: rgb(231, 231, 231);
        }
        h2 {
            
        }
        div {
            display: flex;  
            justify-content: center;
            align-items: center;
        }

        p{
            font-family: Arial, Helvetica, sans-serif;
        }

        #corpo{
            
            display: block;
            justify-content: center;
            align-items: center;
            background-color: antiquewhite;
        }
        #catalogo {
            
        }