@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: fontecomida;
    src: url("/fontes/Sauce\ Tomato.otf") format("opentype");
}

:root {
    --cor00:#ffffff;
    --cor01:#b4512d;
    --cor02:#D98F4E;
    --cor03:#F2E744;
    --cor04:#038C5A;
    --cor05:#3F3D40;
    --cor06:#000000;

    --fontepadrao: "Open Sans";
    --fontedestaque: "Bebas Neue";
    --fontecomida: "fontecomida";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#ca9b44be;
}

header {
    background-image: linear-gradient(to top,#FF8233  , var(--cor01));

    padding: 30px;

    text-align: center;


}
header h1 {
    font-family: var(--fontecomida);
    font-size: 3em;
    padding-bottom: 5px;

    color: #ffffff;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.800);
}
header p {
    color: white;
    font-weight: bold;
    font-family: var(--fontepadrao);
    font-size: 1.4em;

    margin: auto;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.800);
}

nav {
    background-image: linear-gradient(to top, var(--cor01), #FF8233);

    padding: 20px;

    text-align: center;

    box-shadow: -10px 5px 4px rgba(0, 0, 0, 0.151);

    position:sticky;
    top: 0px;

    z-index: 10; /* z-index: --> É tipo a ordem de camada, quanto maior o numero mais alto/ou mais na frente o objeto vai ficar na tela*/
}

nav a {
    padding: 10px 30px;

    color: var(--cor00);

    text-decoration: none;

    border-radius: 5px;

    font-family: var(--fontedestaque);
    font-size: 2em;
    font-weight: bold;

    transition: 0.5s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.425);
    color: var(--cor05);
}

main {
    background-image: linear-gradient(to bottom, var(--cor01), #fd873ea4 300px);

    max-width: 1200px;
    
    margin: auto;
    margin-bottom: 20px;

    border-radius: 0px 0px 10px 10px;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.500);
}

main h1 {
    font-family: var(--fontecomida);

    color: var(--cor00);
    
    font-size: 2.5em;

    font-size: 3em;

    padding: 10px;

    text-align: center;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.918);
}

main div p {
    max-width: 400px;

    margin: auto;

    font-family: var(--fontepadrao);
    font-size: 1em;
    font-weight: bold;


    color: var(--cor05);
}

main article > p {
    color: var(--cor00);

    text-align: center;

    font-family: var(--fontepadrao);
    font-weight: bold;
    font-size: 1.3em;

    max-width: 950px;
    margin: auto;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);

}

main h2 {
    font-family: var(--fontecomida);

    font-size: 2em;

    color: var(--cor05);

    color: var(--cor05);

    margin: 10px;

}

.comidas {
    background-color: rgb(233, 220, 196);
    display: inline-block;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.589);

    border-radius: 10px;
    text-align: center;

    overflow: hidden;

    

}

.coluna {
    margin: auto;
}

.block {
    columns: 2;

    margin: 20px;
    text-align: center;

    padding: 20px;

}

.coluna p {
    margin: auto;
}

.botao {
    font-size: 2em;
    font-family: var(--fontedestaque);
    
    color: var(--cor05);

    text-decoration: none;
    
    display: block;
    
    margin: auto;
    margin: 18px 120px;

    border-radius: 4px;
    transition: 0.5s;
    border: solid 1px var(--cor05);

    box-shadow: 0px 0px -10px;

}

.botao:hover {
    background-color: var(--cor05);
    color: var(--cor00);
}

.imgcomidas {
    max-width: 480px;

    border-radius: 10px 10px 0px 0px;

    transition: 1s ;

    z-index: 1; /* z-index: --> É tipo a ordem de camada, quanto maior o numero mais alto/ou mais na frente o objeto vai ficar na tela*/
}

.imgcomidas:hover {
    

    transform: scale(1.1);
}

footer {
    background-color: #262626;

    color: #F27405;

    font-family: var(--fontedestaque);
    font-weight: normal;
    font-size: 1.2em;

    padding: 5px;

    text-align: center;
}
@media (max-width: 1060px) {
    .block {
        columns: 1;
        margin-bottom: -60px;
    
    }
    .comidas {
        margin-bottom: 20px;
    }
}